# Секреты авторизации
JWT_SECRET={твой секрет сгенерированный например в bash командой: openssl rand -hex 32}

# Секреты TURN сервера
TURN_SECRET={твой секрет сгенерированный например в bash командой: openssl rand -hex 16 должен совпадать в конфиге turnserver.conf на vps в строке static-auth-secret}
TURN_URL=turn:IP_АДРЕСC_VPS:3478