# ВАЖНО !!! .env используеться только для дев режима 
# На production используем ecosystem.config.js

# Секреты авторизации
JWT_SECRET=ТВОЙ_СГЕНЕНРИРОВАННЫЙ_СЕКРЕТ

# Секреты TURN сервера
TURN_SECRET=ТВОЙ_СЕКРЕТ_TURN_СЕРВЕРА
TURN_URL=turn:ТВОЙ_IP_VPS:3478